::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url(font/PPNeueMontreal-Book.otf);
}


@font-face {
  font-family: 'Neue Montreal';
  src: url(font/PPNeueMontreal-Medium.otf);
  font-weight: bold;
}

*
{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:"Neue Montreal",sans-serif;
}

html {
	scroll-behavior: smooth;
}



/* common */
h1 {
  padding-top: 160px;
  font-size: 60px;
  margin-bottom: 1rem;
  
}

h2 {
  font-size: 40px;
}

.p {
  font-size: 26px;
}


.container{
  width: 80%;
  margin: 0 auto;
}

.left{
	float: left;
}

.right{
	float: right;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

/*  common  */

/* header  */

header{
  height: 90px;
  padding-top: 1.2rem;

  transition: all 0.2s ease-in-out;

  backdrop-filter: blur(16px);  

  position: fixed;
  top:0;
  left:0;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

nav {
  width: 1100px;
  margin: 0 auto;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
}

.header .logo {
    margin-top: 8px; 
}

.header .logo a{
    font-size: 22px;
    text-decoration: none;
    color: #FFFFFF;
}

.header .link{
	display: flex;
	align-items: center;
	justify-content: center;
}

.link ul li{
  list-style: none;
  display: inline-block;
  padding: 15px 0px;
  margin: 10px 0 10px 15px;
  font-size: 18px;
}

li a{
  padding: 5px 5px;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}

header.sticky {
  height: 60px;
  padding-top: 0px;
    background-color: rgba(255, 255, 255, 0.8);
  border-style: none none solid none;
  border-width: thin;
  border-color: #7B7B7B;
}

header.sticky a, 
header.sticky .logo a
{
    color: #000;
}


li a:hover{
  border-radius: 6px;
  background-color: #000;
  color: #fff;
  transform: translateY(-5px);
}



/* header */


/* body */

body
{
	dispaly:flex;
	justify-content: center;
	align-items: center;

	background-color: white;

	font-size: 18px;

}

.background {
	height: 100vh;
/*	background-color: #A6A6A6;*/
    background-color: #252525;
	background-image: url(img/works/AirLink/cover.png);
	background-size: cover;
    z-index: -1;
}


.main {
	position: sticky;

/*	text-align: center;*/
	
	color: rgba(255, 255, 255, var(--background-opacity));
	margin: 0 auto;

	/* (oldVal - oldMin) * newRange / oldRange + newMin */
	/* oldVal:  oldMin:25  newRange:100  oldRange:75  newMin:0 */
	translate: 0 calc(-0.5% * (max(var(--scroll), 25) - 25) * 100 / 75); 
	--background-opacity: calc(100% - 1% * min(var(--scroll), 30) * 100 / 30);
}

.main{
  position: absolute;
  top: 32%;
  left: 56%;
  filter: drop-shadow(0 2px 5px rgba(0,0,0,0.4))
/*  transform: translate(-50%, -50%);*/
}


.main h1 {
  font-size: 58px;
  margin: 0;
  mix-blend-mode: overlay;
}

.main h2 {
  font-size: 40px;
  font-weight: normal;
  margin: 0;
  mix-blend-mode: overlay;
}

a#scroll-btn {
	position: absolute;
	height: 6em;
	width: 3.25em;
	border: 0.25em solid #ffffff;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 2.25em;
	border-radius: 1.75em;
    z-index: 99;
}


a#scroll-btn:before {
	position: absolute;
	content: "";
	margin: auto;
	left: 0;
	right: 0;
	top: 0.5em;
	height: 1em;
	width: 1em;
	background-color: #ffffff;
	border-radius: 50%;
	animation: move-down 1.6s infinite;
}

@keyframes move-down {
	80% {
		opacity: 0.5;
	}
	100% {
		transform: translateY(3.4em);
		opacity: 0;
	}
}




.other-section {
	padding-top: 10vh; 
}

.images {
  margin-bottom: 15rem;
}

.images img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: auto;
  /* height: 350px; width: 1100px */
}

.divider {
  width: 100%;
  height: 1px;
  background: #000;
/*  transition: width 1s ease-in-out;*/
  margin: 10px auto;
}

:root {
  --scroll: 0;
}

/* body */

/* link */


.select {
   position: relative;
    background-color: rgb(247, 238, 231);
    min-height: 300px;
    overflow: hidden;
    z-index: 1;
}

.selectcontainer {
	width: 100%;
	margin: 0 auto;
}

/* arrow-icon */

.arrow-icon-left,
.arrow-icon-right {
    width: 80px;
    height: 80px;
    color: black; 
    transition: fill 0.3s ease;
}

.select p {
    color: black;
    position: relative;
    z-index: 2;
}


.select::before,
.select::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.8s ease-in-out; 
    z-index: -1; 
}


.select::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("img/3.jpg");
  background-size: cover;
  box-shadow: inset 3em 0 50px 20px rgb(247, 238, 231, 0.8), inset -3em 0 50px 20px rgb(247, 238, 231, 0.8);
}


.select::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("img/2.jpg");
  background-size: cover;
  box-shadow: inset 3em 0 50px 20px rgb(247, 238, 231, 0.8), inset -3em 0 50px 20px rgb(247, 238, 231, 0.8);
}


.select:has(.previous a:hover)::before {
    opacity: 1; 
}

.select:has(.next a:hover)::after {
    opacity: 1;
}

.select:has(a:hover) p, 
.select:has(a:hover) .arrow-icon-left, 
.select:has(a:hover) .arrow-icon-right {
    color: #fff;
    transition: color 0.5s;
    filter: drop-shadow(0 2px 5px rgba(0,0,0,0.2));
}

.previous, .next {
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    opacity: 1;
}

.select:has(.previous a:hover) .next {
    opacity: 0;
    pointer-events: none; 
    transform: translateX(10px);
}

.select:has(.next a:hover) .previous {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-10px);
}

.previous {
	margin:6rem auto;
}

.next {
	margin: 6rem auto;
}

/* link */




/* footer */


footer {
  height: 90px;
  padding-top: 1.4rem;
  background-color: rgb(38, 51, 123);
}

footer .copyright{
  font-size: 22px;
  color: white;
  transform: translate(0, 5px);
}

footer .contact{
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact ul li{
  list-style: none;
  display: inline-block;
  padding-left:12px;
}

.icon {
  width: 25px;
  height: 25px;
  fill: white;
  overflow: hidden;
  transform: translate(0, 2.5px)
}



/* footer */


/* media queries  

@media (width <= 1600px) {
    .container{
        width:1100px
    }
    .images img {
        width: 100%;
        height: auto;
    }
}

@media (width <= 1200px) {
    .container{
        width:780px
    }
    .images img {
        width: 100%;
        height: auto;
    }
}
}

*/

@media (width <= 900px) {
    .container{   
        width: calc(100% - 48px);
        margin-left: 24px;
        margin-right: 24px
    }
    .background {
        background-position: center;
    }
    .images img {
        width: 100%;
        height: auto;
    }
    .main h1 {
    	font-size: 40px;
    }
    .main h2 {
    	font-size: 28px;
    }
    h1 {
        font-size: 34px;
    }
    .p {
        font-size: 18px;
    }
    footer .copyright{
    font-size: 18px;
    transform: translate(0, 5px);
    }
    .icon {
    width: 18px;
    height: 18px;
    transform: translate(0, 2.5px)
    }
    .contact ul li{
    padding-left:0;
    }
    
}


